@model RealEstateApp.Core.Application.ViewModels.User.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Olvidaste tu contraseña?";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 mt-5 offset-3">
            <div class="card  border rounded-3 shadow">
                <div class="card-header">
                    <h4 class="mt-2"> Olvide mi contrasena</h4>
                </div>
                <div class="card-body">

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-controller="Auth" asp-action="ForgotPassword">

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        <div class="float-end mt-3 btn-group">

                            <a asp-controller="Auth" asp-action="Index" class="btn btn-outline-danger">Volver atras</a>
                            <button type="submit" class="btn btn-outline-dark">Guardar</button>

                        </div>
                    </form>

        </div>

    </div>
</div>
</div>


