@model RealEstateApp.Core.Application.ViewModels.User.SaveUserViewModel
@{
    ViewData["Title"] = "Registro";
}

<div class="container mt-5 w-50">
    <h1 class="mb-3">Registro de Usuarios</h1>
    <div class="card border rounded-3 shadow mt-3">
        <div class="card-body">
            @if (Model.HasError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>@Model.Error</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form method="post" class="lead fw-bold" asp-controller="Auth" asp-action="Register" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" placeholder="Ingrese su nombre" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" placeholder="Ingrese su apellido" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" placeholder="Ingrese un nombre de usuario" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" placeholder="Ingrese una contraseña" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" placeholder="Confirme su contrasena" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label"></label>
                            <input asp-for="Phone" placeholder="Ingrese su numero telefonico" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" placeholder="Ingrese su correo electronico" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Photo" class="form-label"></label>
                    <input asp-for="Photo" placeholder="Seleccione su foto de perfil" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="UserType" class="form-label"></label>
                    <select asp-for="UserType" placeholder="Seleccione que tipo de usuario quiere ser" class="form-control">
                        <option value="@RealEstateApp.Core.Application.Enums.Roles.Agent.ToString()">Agente</option>
                        <option value="@RealEstateApp.Core.Application.Enums.Roles.Client.ToString()">Cliente</option>
                    </select>
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>

                <div class="btn-group float-end">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Volver atras</a>
                    <button type="submit" class="btn btn-primary">Registrarse</button>

                </div>
            </form>
        </div>
    </div>
</div>
    </div>
</div>