@using RealEstateApp.Core.Application.ViewModels.PropertyType
@model SavePropertyTypeViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Guardar tipo de propiedad";
    bool editMode = Model.Id == 0 ? false : true;
}

<div class="container mt-5 w-50">
    <div class="card border rounded-3 shadow">
            <div class="card-header fw-bold">
                <h4>@(editMode ? $"Editando el tipo de propiedad: {Model.Name}" : "Creando un tipo de propiedad")</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-asp-controller="PropertyType" asp-action="@(editMode ? "Edit":"Create")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div> 
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <button class="btn btn-primary">Guardar</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

                </form>
            </div>
        </div>
    </div>
</div>