@using RealEstateApp.Core.Application.ViewModels.SaleType
@model List<SaleTypeViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Tipos de ventas";
}

<div class="container mt-5">
    <h1 class="">Tipos de ventas</h1>
    <a asp-controller="SaleType" asp-action="Create" class="btn btn-primary m-3">
        <i class="bi bi-plus-circle-fill"></i>
        Crear tipo de venta
    </a>
    <div class="border rounded-3 shadow bg-white p-4 mt-4">
        <table class="table table-hover">
            <thead class="fw-bold fs-5">
                <tr>
                    <th class="">Nombre</th>
                    <th class="">Descripcion</th>
                    <th class="">Propiedades asociadas</th>
                    <th class="text-end">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (SaleTypeViewModel saleType in Model)
                {
                    <tr class="align-middle">
                        <td class="py-3 fs-6">
                            @saleType.Name
                        </td>
                        <td class="py-3">
                            @saleType.Description
                        </td>                        
                        <td class="py-3">
                            @saleType.PropertyCount
                        </td>
                        <td class="text-end align-items-center py-3">

                            <a class="btn btn-secondary btn-sm" asp-controller="SaleType" asp-action="Edit" asp-route-id=@saleType.Id>
                                <i class="bi bi-pencil-square"></i>
                                Editar
                            </a>
                            <a class="btn btn-danger btn-sm" asp-controller="SaleType" asp-action="Delete" asp-route-id=@saleType.Id>
                                <i class="bi bi-trash-fill"></i>
                                Eliminar
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
