body {
    background-color: #F1F5F9;
    font-family: 'Inter', sans-serif
}

.form-label {
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.truncate-text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bsb-circle i {
    font-size: 2.5rem;
    padding: 8px 19px;
    border-radius: 50%;
}