@using RealEstateApp.Core.Application.Enums
@model RealEstateApp.Core.Application.Dtos.Account.UserResponse
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Confirmar accion";
    bool isActive = Model.IsActive == true ? true : false;
}

<div class="container mt-5 w-25">
    <div class="card border rounded-3 shadow">
        <div class="card-header fw-bold">
            <h4>@(isActive ? $"Inactivar al usuario: {Model.UserName}" : $"Activar al usuario: {Model.UserName}")</h4>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="ChangeUserStatus">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Role" />
                <input type="hidden" asp-for="IsActive" />

                <div class="mb-3">
                    ¿Estás seguro de que deseas realizar esta acción?
                </div>
                <div class="border-top bg-white">
                    <div class="mt-2">
                        <button type="submit" class="btn btn-danger">Confirmar</button>
                        @if (Model.Role == Roles.Agent.ToString())
                        {
                            <a class="btn btn-secondary" asp-action="AgentManagement">Cancelar</a>
                        }
                        else
                        {
                            <a class="btn btn-secondary" asp-action="@(Model.Role == Roles.Admin.ToString() ? "AdminManagement" : "DevManagement")">Cancelar</a>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>